<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <style>
      .square-btn {
        border-radius: 0 !important;
      }
    </style>
  </head>

  <body class="container mt-4">
    <%= javascript_pack_tag 'application' %>

    <!-- Main Content -->
    <main class="mt-4">
      <%= yield %>
    </main>

  
  </body>
</html>
